<div class="section-tab" layout="column">
    
    <div layout="column" layout-align="center center" flex>
        <img class="game-tab-icon" src="assets/images/game/chest.svg" />
    </div>

    <div class="section-menu" layout="column" ng-show="ready">
        <md-list flex>
            <md-list-item class="md-2-line" ng-repeat="item in list">
                <div class="md-list-item-text list-item">
                    <h3> {{ item.name }}</h3>
                    <p><b>Experiência:</b> +{{ item.experience }} pontos</p>
                    <p><b>Diversão:</b> +{{ item.points }} pontos</p>
                    <p><b>Durabilidade:</b> {{ item.durability }}</p>
                </div>
                <md-button class="md-primary md-raised" 
                    ng-if="item.durability > 0"
                    ng-click="play(item)"
                    aria-label="Brincar">
                    Brincar
                </md-button>
                <md-button class="md-primary md-raised" 
                    ng-if="item.durability == 0"
                    ng-click="donate(item)"
                    aria-label="Doar">
                    Doar
                </md-button>
            </md-list-item>
        </md-list>
    
        <div style="text-align: center; width: 100%; margin-top: 10px;" ng-if="list.length == 0">
            Parece que você não possui nenhum brinquedo, compre alguns na loja de brinquedo.
        </div>
    </div>
</div>