<div id="login" layout="column" ms-scroll flex>
    <div id="login-form-wrapper" layout="column" layout-align="center center">
        <div id="login-form" class="md-whiteframe-8dp">
            <div class="title">Login</div>

            <form name="loginForm" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="form.email" placeholder="Email" ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="loginForm.email.$error" role="alert" multiple>
                        <div ng-message="required">
                            <span>Por favor, preencha o email.</span>
                        </div>
                        <div ng-message="pattern">
                            <span>Por favor, preencha um email válido.</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="form.password" placeholder="Senha" required>
                    <div ng-messages="loginForm.password.$error" role="alert">
                        <div ng-message="required">
                            <span>Por favor, preencha a senha.</span>
                        </div>
                    </div>
                </md-input-container>

                <div ng-show="error" role="alert">
                    {{error}}
                </div>

                <md-button ng-click="authWithEmail()" type="submit" class="md-raised md-accent submit-button" aria-label="LOG IN" ng-disabled="loginForm.$invalid || loginForm.$pristine">
                    LOGIN
                </md-button>
            </form>

            <div class="separator">
                <span class="text">OU</span>
            </div>

            <md-button class="md-raised google" ng-click="authWithSocialMedia('google')">
                <div layout="row" layout-align="center center">
                    <span>
                        <span>Login com Google</span>
                    </span>
                </div>
            </md-button>

            <md-button class="md-raised facebook" ng-click="authWithSocialMedia('facebook')">
                <div layout="row" layout-align="center center">
                    <span>
                        <span>Login com Facebook</span>
                    </span>
                </div>
            </md-button>

            <div class="register" layout="row" layout-sm="column" layout-align="center center">
                <span class="text">Não possui uma conta?</span>
                <a class="link" ui-sref="register">Clique aqui para se registrar</a>
            </div>
        </div>
    </div>
</div>