<div class="section-tab" layout="column">
    
    <div layout="column" layout-align="center center" flex>
        <img class="game-tab-icon" src="assets/images/game/restaurant.svg" />
    </div>

    <div class="section-menu" layout="row" layout-wrap>
        <md-list flex>
            <md-list-item class="md-2-line" ng-repeat="item in list">
                <div class="md-list-item-text list-item">
                    <h3> {{ item.name }} </h3>
                    <p><b>Experiência:</b> +{{ item.experience }} pontos</p>
                    <p><b>Alimentação:</b> +{{ item.points }} pontos</p>
                    <p><b>Valor:</b> {{ item.coins }} moedas</p>
                </div>
                <md-button class="md-primary md-raised" 
                    ng-click="eat(item)"
                    aria-label="Comer"
                    ng-if="user.coins >= item.coins">
                    Comer
                </md-button>
            </md-list-item>
        </md-list>
    </div>
</div>