<div id="register" layout="column" ms-scroll flex>
    <div id="register-form-wrapper" layout="column" layout-align="center center">
        <div id="register-form" class="md-whiteframe-8dp">
            <div class="title">Criar uma conta</div>

            <form name="registerForm" novalidate>
                <!--md-input-container class="md-block" md-no-float>
                    <input name="username" ng-model="form.username" placeholder="Name" required>
                    <div ng-messages="registerForm.username.$error" role="alert">
                        <div ng-message="required">
                            <span>Username field is required</span>
                        </div>
                    </div>
                </md-input-container-->

                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="form.email" placeholder="E-mail"
                        ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="registerForm.email.$error" role="alert" multiple>
                        <div ng-message="required">Por favor, preencha o e-mail.</div>
                        <div ng-message="pattern">Por favor, preencha um e-mail válido.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="form.password" placeholder="Senha" required>
                    <div ng-messages="registerForm.password.$error" role="alert">
                        <div ng-message="required">Por favor, preencha a senha.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="passwordConfirm" ng-model="form.passwordConfirm" placeholder="Confirme sua senha" required>
                    <div ng-messages="registerForm.passwordConfirm.$error" role="alert">
                        <div ng-message="required">Por favor, confirme sua senha.</div>
                    </div>
                </md-input-container>

                <div class="terms" layout="row" layout-align="center center">
                    <md-checkbox name="terms" ng-model="data.cb1" aria-label="Eu li e aceito os" required></md-checkbox>
                    <div layout="row" layout-sm="column" layout-align="start center">
                        <span>Eu li e aceito os</span>
                        <a href="#" class="md-accent-color">termos e condições</a>
                    </div>
                </div>

                <md-button type="submit" class="md-raised md-accent submit-button" aria-label="Criar minha conta" 
                    ng-disabled="registerForm.$invalid || registerForm.$pristine" ng-click="createNewAccount()">
                    Criar minha conta
                </md-button>
            </form>

            <div class="login" layout="row" layout-xs="column" layout-align="center center">
                <span class="text">Já possui uma conta?</span>
                <a class="link" ui-sref="login">Login</a>
            </div>
        </div>
    </div>
</div>