<div id="game" class="page-layout simple tabbed">

    <div class="header md-accent-bg" layout="column" layout-align="center center">
        <div class="user-info" layout="column" layout-align="space-between center" flex>
            <div layout="column" layout-align="center center">
                <img class="profile-image" src="assets/images/avatars/{{user.avatar}}">
                <div class="name">{{user.nickname}}</div>
            </div>
            <div class="status-list" layout="row" layout-align="center center" layout-wrap>
                <div class="status-item" layout="column">
                    <span class="status-item-title">Level</span> 
                    <span class="status-item-value">{{user.level}}</span>
                </div>
                <div class="status-item" layout="column">
                    <span class="status-item-title">Experiência</span> 
                    <span class="status-item-value">{{user.experience}}/{{user.level*25}}</span>
                </div>
                <div class="status-item" layout="column">
                    <span class="status-item-title">Moedas</span> 
                    <span class="status-item-value">{{user.coins}}</span>
                </div>
                <div class="status-item" layout="column">
                    <span class="status-item-title">Alimentação</span> 
                    <span class="status-item-value">{{user.feeding}}/100</span>
                </div>
                <div class="status-item" layout="column">
                    <span class="status-item-title">Diversão</span> 
                    <span class="status-item-value">{{user.funny}}/100</span>
                </div>


            </div>
        </div>
    </div>

    <div class="content" flex>

        <md-tabs md-border-bottom md-selected="activeTab" md-center-tabs="true">
            <md-tab md-ative="activeTab == 'game.chest'" ui-sref="game.chest">
                <md-tab-label>Baú</md-tab-label>
            </md-tab>
            <md-tab md-ative="activeTab == 'game.store'" ui-sref="game.store">
                <md-tab-label>Loja de Brinquedos</md-tab-label>
            </md-tab>
            <md-tab md-ative="activeTab == 'game.restaurant'" ui-sref="game.restaurant">
                <md-tab-label>Restaurante</md-tab-label>
            </md-tab>
            <md-tab md-ative="activeTab == 'game.investiments'" ui-sref="game.investments">
                <md-tab-label>Investimentos</md-tab-label>
            </md-tab>
        </md-tabs>

        <div ui-view flex></div>

    </div>
    <!-- / CONTENT -->

</div>