/*----------------------------------------------------------------*/
/*  Variables
/*----------------------------------------------------------------*/

@layout-breakpoint-xs:     600px;
@layout-breakpoint-sm:     960px;
@layout-breakpoint-md:     1280px;
@layout-breakpoint-lg:     1920px;

// Typography
@font-family-body: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
@font-family-code: 'Monaco', 'Menlo', 'Consolas', 'Ubuntu Mono', monospace;

@font-size-root: 62.5%;
@font-size-base: 1.3rem;

@h1: 2.4rem;
@h2: 2.0rem;
@h3: 1.6rem;
@h4: 1.4rem;
@h5: 1.3rem;
@h6: 1.2rem;

// Toolbar
@toolbarHeight: 64px;

// Navigation Sidenav
@navigationWidth: 240px;
@navigationFoldedWidth: 64px;