#game {

    .header {
        height: 300px;
        min-height: 300px;
        max-height: 300px;        
        background: url('../images/backgrounds/march.jpg') no-repeat 0 45%;
        background-size: 100% auto;

        .profile-image {
            background: rgb(63,81,181);
            padding: 10px;
            border-radius: 100%;
            width: 100px;
            height: 100px;
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;
            text-shadow: 2px 2px #333;
        }

        .actions {

            .md-button {
                text-transform: none;
                padding: 0 16px;
                height: 32px;
                line-height: 32px;
                margin: 0 0 0 8px;
            }
        }
    }

    .content {

        md-content {
            background-color: transparent;
        }
    }

    .status-list{
        .status-item{
            background: rgba(63,81,181, .8);
            padding: 2px;
            border-radius: 2px;
            margin: 5px 10px;
            text-align: center;
            color: #fff;
            &-title{
                font-weight: bold;
            }
        }
    }

    .game-box {
        margin-bottom: 16px;

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
            background-color: #FFF;
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 4px;
                }

                .info {

                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .game-tab-icon {
        width: 100px;
        height: 100px;
    }

    .section-tab {
        padding: 8px;

        .list-item {
            margin-bottom: 10px;
        }
    }
}