<div class="section-tab" layout="column">
    
    <div layout="column" layout-align="center center" flex>
        <img class="game-tab-icon" src="assets/images/game/bank.svg" />
    </div>

    <div class="section-menu" layout="column">
        <h3>Seus investimentos:</h3>
        <md-list flex>
            <md-list-item class="md-2-line" ng-repeat="item in listUserInvestiments">
                <div class="md-list-item-text list-item">
                    <h3> {{ item.name }} </h3>
                    <p><b>Saldo:</b> {{ item.coins }} moedas</p>
                    <p ng-if="item.lack > 0"><b>Pode retirar em</b> {{ item.lack }} horas</p>
                </div>
                <md-button class="md-primary md-raised" 
                    ng-click="withdraw(item)"
                    aria-label="Investir"
                    ng-if="item.lack == 0">
                    Retirar
                </md-button>
            </md-list-item>
        </md-list>
        <div style=" width: 100%; margin-bottom: 10px;" ng-if="listUserInvestiments.length == 0">
            Parece que você não possui nenhum investimento, faça um investimento com as opções abaixo.
        </div>
        <h3>Investir</h3>
        <md-list flex>
            <md-list-item class="md-2-line" ng-repeat="item in listBankInvestiments">
                <div class="md-list-item-text list-item">
                    <h3> {{ item.name }} </h3>
                    <p><b>Experiência:</b> +{{ item.experience }} pontos por hora</p>
                    <p ng-if="!item.risk"><b>Rendimento:</b> +{{ item.yield }} % por hora</p>
                    <p ng-if="item.risk"><b>Rendimento:</b> +{{ item.yield }}% ou -{{ item.yield }}% por hora</p>
                    <p><b>Carência:</b> {{ item.lack }} horas</p>
                </div>
                <md-button class="md-primary md-raised" 
                    ng-click="invest(item, $event)"
                    aria-label="Investir">
                    Investir
                </md-button>
            </md-list-item>
        </md-list>
    </div>
</div>