<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="end start">
            <div class="title">Seja bem vindo(a)!</div>
            <div class="subtitle">Por favor preencha as proximas informações para começar o jogo.</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" layout="column">
        <form name="perfil">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Digite seu apelido</label>
                <input ng-model="form.nickname" aria-label="Apelido" 
                        md-maxlength="15" maxlength="15" required>
            </md-input-container>

            <div layout="column">
                <label class="label">Selecione seu personagem</label>
                <md-radio-group ng-model="form.avatar" layout="row" layout-wrap layout-align="center center">                
                    <md-radio-button class="avatar" ng-repeat="avatar in listAvatars"
                                    ng-value="avatar" ng-class="{'avatar--selected': form.avatar == avatar}"
                                    aria-label="Personagem">
                        <img src="assets/images/avatars/{{avatar}}"/>
                    </md-radio-button>
                </md-radio-group>
            </div>

            <div layout="column" layout-align="center center" flex>
                <md-button ng-disabled="perfil.$invalid || !form.avatar"
                            ng-click="saveProfile()" class="md-raised md-primary">
                    Começar!
                </md-button>
            </div>
        </form>
    </div>
    <!-- / CONTENT -->

</div>