#forms {
    
    .header {
        height: 200px;
        min-height: 200px;
        max-height: 200px;        
        background: url('../images/backgrounds/january.jpg') no-repeat 0 55%;
        background-size: 100% auto;

        .title{
            color: #fff;
            text-shadow: 2px 2px #333;
        }
        .subtitle{
            color: #fff;
            text-shadow: 2px 2px #333;
        }
    }

    .content {

        .label{
            color: #444;
            margin-bottom: 10px;
            font-size: 15px;
        }
        
        .avatar{
            margin: 2px;
            padding: 5px;
            border-radius: 5px;
            .md-off, .md-on, .md-ripple-container, .md-container, .md-container:before{
                display: none !important;
            }
            .md-label{
                margin-left: 0;
            }
            img{
                width: 60px;
                height: 60px;
            }
            &--selected{
                background: rgb(63,81,181);
            }
        }

        .form-wrapper {

        }

    }
}